<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>GIỎ HÀNG</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="../../src/public/fonts/fontawesome-free-6.5.1-web/css/all.min.css">
      <link rel="stylesheet" href="../../src/public/css/base.css">
      <link rel="stylesheet" href="../../src/public/css/main.css">
  </head>
  <body>       
    <div class="container" style="margin-top: 0; font-size: 15px;">
      <div class="grid__row" style="font-size: 24px;">
        <ul class="nav nav-pills nav-fill" style="margin:4px 0px 8px 4px; flex:4;">
          <li class="nav-item">
            <a class="nav-link" style="color: var(--primary-color);" href="/admin">
              <i class="fa-solid fa-shop"></i>
              Sản Phẩm
          </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" style="color: var(--primary-color);" href="/admin/giohang">
              <i class="fa-solid fa-bag-shopping"></i>
              Giỏ Hàng
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: var(--primary-color);" href="/admin/bill">
                <i class="fa-solid fa-scroll"></i>
                Hóa Đơn
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: var(--primary-color);" href="/admin/account">
                <i class="fa-regular fa-circle-user"></i>
                Tài Khoản
              </a>
            </li>
        </ul>
      </div>
      <% for(let i = 0; i < len_email; i++){ %>
        <hr>
        <div class="grid__row" style="font-size: 16px; color: var(--primary-color); margin-top: 12px;">
          <span>Giỏ Hàng Của: </span>
          <span><%= arr_email[i] %></span>
        </div>
        <table class="table">
          <thead class="thead-light"> 
            <tr>
              <th scope="col">Hình Ảnh</th>
              <th scope="col">Tên</th>
              <th scope="col">Thương Hiệu</th>
              <th scope="col">Số Lượng</th>
              <th scope="col">Giá</th>
              <th scope="col">Trạng Thái</th>
              <th scope="col">Tùy Chỉnh</th>
            </tr>
          </thead>
          <% carts.forEach(cart=>{ %>
            <% if(arr_email[i]=== cart.email){ %>
              <tbody>
                <tr>
                  <td><img src="<%= cart.img %>" alt="sản phẩm" class="img_product"></td>
                  <td class="edit_cart "><%= cart.name %></td>
                  <td class="edit_cart"><%= cart.brand %></td>
                  <td class="edit_cart number_product"><%= cart.number %></td>
                  <td class="edit_cart "><%= cart.price %></td>
                  <% if(!cart.isDelete && !cart.bought){ %>
                    <td class="edit_cart ">Vẫn Còn</td>
                  <%}else if(cart.isDelete){ %>
                    <td class="edit_cart ">Đã Xóa</td>
                    <td><i class="edit_cart delete_product-in-cart fa-solid fa-trash delete_cart"  data-value="<%= cart.id %>"></i></td>
                  <%} else{ %>
                    <td class="edit_cart ">Đã Mua</td>
                  <%}%>
                </tr>
              </tbody> 
            <%}%>  
          <% }) %>
        </table>
        <hr>
      <% } %>
    </div>

    <footer class="footer">
      <%- include('footer')%>
    </footer>

    <script defer src="../../src/public/javascript/javascript_delete_cart.js"></script>
    <script defer src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>