
<div class="grid">
    <nav class="header__navbar">
        <ul class="header__navbar--list">
            <li class="header__navbar--item header__navbar--item--has-qr header__navbar--item--separate">
                Vào cửa hàng ứng dụng trên X
                <div class="header__qr">
                    <img src="../../src/public/img/qr_code.png" alt="QR code" class="header__qr-img">
                    <div class="header__qr-apps">
                        <a href="" class="header__qr-link">
                            <img src="../../src/public/img/ios.png" alt="IOS" class="header__qr-dowload-img">
                        </a>
                        <a href="" class="header__qr-link">
                            <img src="../../src/public/img/ggplay.png" alt="GG Play" class="header__qr-dowload-img">
                        </a>
                        <a href="" class="header__qr-link">
                            <img src="../../src/public/img/app.png" alt="App" class="header__qr-dowload-img">
                        </a>
                    </div>
                </div>
            </li>
            <li class="header__navbar--item">
                <span class="header__navbar-title--no-pointer">Kết nối</span>
                <a href="" class="header__navbar-icon-link">
                    <i class="header__navbar-icon fab fa-facebook"></i>
                </a>
                <a href="" class="header__navbar-icon-link">
                    <i class="header__navbar-icon fab fa-instagram"></i>
                </a>
            </li>
        </ul>
        <ul class="header__navbar--list">
            <li class="header__navbar--item header__navbar---item-has-notify header__navbar--item--separate">
                <a href="" class="header__navbar--link">
                    <i class="header__navbar-icon fas fa-bell"></i>
                    Thông báo
                </a>
                <div class="header__notify">
                    <header class="header__notify-header">
                        <h3>Thông báo mới nhận</h3>
                            <ul class="header__notify-list">
                                <li class="header__notify-item header__notify-item--viewed">
                                    <a href="" class="header__notify-link">
                                        <img src="	https://down-vn.img.susercontent.com/file/sg-50009109-fa5f72ed003af327b6179b6720a442b6" alt="" class="header__notify-img">
                                        <div class="header__notify-info">
                                            <span class="header__notify-name">Mỹ phẩm OHUI chính hãng</span>
                                            <span class="header__notify-descriotion">Mỹ phẩm OHUI chính hãng</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="header__notify-item">
                                    <a href="" class="header__notify-link">
                                        <img src="	https://down-vn.img.susercontent.com/file/sg-50009109-fa5f72ed003af327b6179b6720a442b6" alt="" class="header__notify-img">
                                        <div class="header__notify-info">
                                            <span class="header__notify-name">Mỹ phẩm OHUI chính hãng</span>
                                            <span class="header__notify-descriotion">Mỹ phẩm OHUI chính hãng</span>
                                        </div>
                                    </a>
                                
                                </li>
                                <li class="header__notify-item">
                                    <a href="" class="header__notify-link">
                                        <img src="	https://down-vn.img.susercontent.com/file/sg-50009109-fa5f72ed003af327b6179b6720a442b6" alt="" class="header__notify-img">
                                        <div class="header__notify-info">
                                            <span class="header__notify-name">Mỹ phẩm OHUI chính hãng</span>
                                            <span class="header__notify-descriotion">Mỹ phẩm OHUI chính hãng</span>
                                        </div>
                                    </a>
                                
                                </li>                    
                            </ul>
                            <footer class="header__notify-footer">
                                <a href="" class="header__notify-footer-btn">Xem tất cả</a>
                            </footer>
                    </header>
                </div>
            </li>
            <li class="header__navbar--item header__navbar--item--separate">
                <a href="" class="header__navbar--link">
                    <i class="header__navbar-icon far fa-question-circle"></i>
                    Trợ giúp</a>
            </li>
            <% if( email ==='' && userName ==='') { %>
                <a href="/register" class="header__navbar--item header__navbar--item--strong header__navbar--item--separate" id="register">Đăng ký</a>
                <li class="header__navbar--item header__navbar--item--strong" id="login">Đăng nhập</li> 
            <% } else { %>
                <li class="header__navbar--item header__navbar-user">
                    <img src="https://phukien25.com/wp-content/uploads/2023/08/luffy-gear-5-tap-may-anime.webp" alt="" class="header__navbar-user-avt">
                    <span class="header__navbar-user-name" ><%= userName %></span>
    
                    <ul class="header__navbar-user-menu">
                        <li class="header__navbar-user-item">
                            <a href="">Tài khoản của tôi</a>
                        </li>
                        <li class="header__navbar-user-item">                                    
                            <a href="">Địa chỉ của tôi</a>                                
                        </li>
                        <li class="header__navbar-user-item">                                   
                            <a href="">Đơn mua</a>                                    
                        </li>
                        <li class="header__navbar-user-item header__navbar-user-item--separate">
                            <a href="/logout">Đăng xuất</a>
                        </li>
                    </ul>
                </li>
            <% } %>
        </ul>
    </nav>
    <form action="/search" method="get">
        <div class="header-with-search">
            <div class="header__logo">
                <a href="/" class="header__logo-link">
                    <img src="../../src/public/img/ninMart.jpg" alt="logo" class="header__logo-img">
                </a>
            </div>
                <div class="header__search">
                    <div class="header__search-input-wrap">
                        <input type="text" name="search" value="<%= search_value %>" class="header__search-input" autocomplete="off" placeholder="Nhập thông tin cần tìm kiếm">
                    </form>
                        <!-- Search history -->
                        <div class="header__search-history">
                            <h3 class="header__search-history-heading">Lịch sửa tìm kiếm</h3>
                            <ul class="header__search-history-list">
                                <% for(let i = 0; i < lentSearch;i++){ %>
                                    <li class="header__search-history-item">
                                        <!-- <div onclick="navigateToSearch('<%= search_history[i] %>')">
                                            <%= search_history[i] %>
                                        </div>                                         -->
                                        <a href="/search?search=<%=search_history[i]%>"><%= search_history[i]%></a>
                                    </li>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                    <button type="submit"  class="header__search-btn">
                        <i class="header__search-btn-icon fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            <div class="header__cart">
                <a href="/cart" style="text-decoration: none;">
                    <div class="header__cart-wrap">
                        <i class="header__cart-icon fa-solid fa-cart-shopping"></i>
                        <span class="header__cart-notice"><%= lenCart%></span>
                    </div>
                </a>
        </div>
    </form>
</div>
 
